---
import Layout from "../layouts/Layout.astro";
import heroData from "../data/heroData";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Starbucks | Home">
  <div class="cards_hero flex flex-col gap-8 max-w-screen-xl mx-auto mb-10">
    {
      heroData.map((data, index) => (
        <Card
          imageHero={data.image}
          tituloCard={data.title}
          subtitleCard={data.subtitle}
          descriptionCard={data.description}
          linkCard={data.link}
          buttonCard={data.button}
          backgroundCard={data.background}
          colorTextCard={data.color}
          numberCard={index}
        />
      ))
    }
  </div>
  <Footer />
</Layout>

<script>
  const $cardsHero = document.querySelectorAll(".card_hero_page");

  const showCard = (entradas, observador) => {
    entradas.forEach((entrada) => {
      if (entrada.isIntersecting) {
        entrada.target.classList.add("animated", "zoomIn");
      }
    });
  };

  const observador = new IntersectionObserver(showCard, {
    root: null,
    rootMargin: "0px",
    threshold: 0.5,
  });

  $cardsHero.forEach((card) => observador.observe(card));
</script>
