---
const {
  imageHero,
  tituloCard,
  descriptionCard,
  buttonCard,
  subtitleCard,
  linkCard,
  backgroundCard,
  colorTextCard,
  numberCard
} = Astro.props;
---

<div class=`card_hero_page${numberCard} grid grid-cols-2 w-full content-centerr`>
  <img src=`${imageHero}` alt="" class="w-full h-full aspect-auto" />
  <div
    style=`background: ${backgroundCard}`
    class="text_card_hero w-full h-full flex flex-col items-center justify-center gap-3 "
  >
    <h1
    
      class="font-black text-6xl  text-center"
    >
      {tituloCard}
    </h1>
    <h2  class="font-extrabold text-4xl">
      {subtitleCard}
    </h2>
    <p  class="text-center w-96">
      {descriptionCard}
    </p>
  {buttonCard && 
      <a
      href=`${linkCard}`
      class="rounded-3xl p-2 font-bold text-center max-w-fit">{buttonCard}</a>
  }
  </div>
</div>


<style define:vars={{colorTextCard}}>
  h1, h2, p, a {
    color: var(--colorTextCard)
  }

  a {
    border: 1px solid var(--colorTextCard);
  }

  .card_hero_page1 .text_card_hero, .card_hero_page3 .text_card_hero {
    order: 1;
  }

  .card_hero_page1 img, .card_hero_page3 img {
    order: 2;
  }

  
</style>