---
const {
  imageHero,
  tituloCard,
  descriptionCard,
  buttonCard,
  subtitleCard,
  linkCard,
  backgroundCard,
  colorTextCard,
  numberCard
} = Astro.props;
---

<div class=`card_hero_page${numberCard} card_hero_page grid md:grid-cols-2 w-full content-center grid-cols-1 `>
  <img src=`${imageHero}` alt={tituloCard} class="w-full h-full aspect-video object-cover order-1" />
  <div
    style=`background: ${backgroundCard}`
    class="text_card_hero w-full h-full flex flex-col items-center justify-center gap-2 py-14 px-4 order-2"
  >
    <h1
    
      class="font-black md:text-5xl  text-center text-4xl"
    >
      {tituloCard}
    </h1>
    <h2  class="font-extrabold text-4xl">
      {subtitleCard}
    </h2>
    <p  class="font-bold text-center md:w-[75%] md:text-[1rem] w-full text-[1rem]">
      {descriptionCard}
    </p>
  {buttonCard && 
      <a
      href=`${linkCard}`
      class="rounded-3xl p-2 font-bold text-center max-w-fit">{buttonCard}</a>
  }
  </div>
</div>


<style define:vars={{colorTextCard}}>
  h1, h2, p, a {
    color: var(--colorTextCard)
  }

  .card_hero_page {
    opacity: 0;
  }

  a {
    border: 1px solid var(--colorTextCard);
  }

  .card_hero_page1 .text_card_hero, .card_hero_page3 .text_card_hero {
    order: 1;
  }

  .card_hero_page1 img, .card_hero_page3 img {
    order: 2;
  }

  .card_hero_page2 .text_card_hero p {
    font-style: italic;
  }

  .swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 0.8s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.8s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}


  @media screen and (max-width: 767px) {
    .card_hero_page1 .text_card_hero, .card_hero_page3 .text_card_hero {
    order: 2;
  }

  .card_hero_page1 img, .card_hero_page3 img {
    order: 1;
  }
  }
  
  .card_hero_page2 .text_card_hero h2 {
    font-size: 2rem;
    width: 100%;
    text-align: center;
  }
</style>

